@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    /*background-image: linear-gradient(to right top, #991717 0%, #5AB64A 100%);*/
}

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    /*color: rgba(0, 35, 122, 0.5);*/
    color: #ffffe6;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

body {
    /*background-image: url("fond.png");
    background-repeat: repeat;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: #ffffe6;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 23em;*/
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: "Open Sans";
    font-size: 20px;
    color: #ffffe6;
}

legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffe6;
    text-shadow: 0.1em 0.1em 0.2em black;
}

fieldset {
    border-radius: 10px;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 118px;
    margin-left: auto;
    margin-right: auto;
    width: 23em;
}

input[type="submit"] {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 117px;
}

input[type=text] {
    width: 229px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

select {
    width: 100px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}